html{  min-width: 560px;}

body { 
  background-image:url('/assets/images/1.jpg');
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;   
  -o-background-size: cover;
  text-align: center;
  font-size: 40px;
  background-color: #bdbdbd;
  font-family: helvetica, arial, sans-serif;
}

h1{
  margin: 0;
}

a{
  margin: 0;
  text-decoration: none;
  color: white;
}

a:hover{
  color: #D0D0D0;
}

img{
  position: fixed;
  bottom:0;
  right: 0;
}

div{
  float: left;
  padding: 27% 0 0 25%;
}

#resume{
  padding-left: 15%;
}


@media(max-width: 1170px){

  #resume{
    padding-left: 13%;
  }

}

@media(max-width: 1040px){

  #resume{
    padding-left: 10%;
  }

}

@media(max-width: 920px){
  div{
  padding: 24% 0 0 22%;
}

  #resume{
    padding-left: 8%;
  }

}

@media(max-width: 820px){
  body{
    font-size: 25px;
  }
  div{
  padding: 29% 0 0 25%;
  }

  #resume{
    padding-left: 13%;
  }

}

@media(max-width: 700px){

  div{
  padding: 26% 0 0 22%;
  }

  #resume{
    padding-left: 7%;
  }

}