    html {
      height: 100%;
    }
    body {
      background: #E2E4E7;
      padding: 0;
      color:white;
      text-align: right;
      font-family: 'Raleway', sans-serif;
      font-weight: 300;
      font-size: 22px;
      position: relative;
      margin: 0;
      height: 100%;
      min-width: 850px;
      -webkit-font-smoothing: antialiased;
    }
    
    .wrapper {
      margin: 0 auto; 
    }
    
    a {
      text-decoration: none;
      color: white;
    }

    a:hover{
      color: #E0E0E0;
    }
    
  
    h1, h2, h3, h4 {
      font-weight: 100;
      width: 100%;
      float: left;
    }
    h1 {
      margin-top: 10px;
      margin-bottom: 5px;
      font-size: 60px;
      letter-spacing: -4px;
      text-align: right;
    }
    h2 {
      font-size: 68px;
    } 
    h3{
      font-size: 48px;
    }

    h4{ font-size: 35px;}   

    p{
      font-family: 'Source Code Pro', sans-serif;
      line-height: 40px;
      text-align: left;
    }
    nav {
      position: fixed;
      z-index: 10;
      width: 160px;
      height: 100%;
      text-align: left;
    }

    nav ul{
      list-style: none;
      padding: 0;
      margin: 0;
      height: 100%;
    }

    nav ul li{
      height: 18.8%;
      min-height: 45px;
      font-size: 40px;
      padding: 20px 5px 0 5px;
    }

    section{
      height:100%;
    }
    .main section .page_container {
      position: relative;
      margin:  0 222px;
      padding: 10px;
      width: 70%;
      min-width: 628px;
      height: 100%;
      z-index: 3;
    }

    .main section .page_container img{
      margin: 2% 0 23% 0;
    }

    .main section  {
      overflow: hidden;
    }
    #infoSection, #info{
      background:#D4BAA2;
    }
    #webSection, #web{
      background: #B8AE9B;
    }

    #mobileSection, #mobile{
      background: #E0D5B9;
    }

    #designSection, #design{
      background: #8C8985;
    }

    #artSection, #art{
      background: #C5C7B1;
    }

    #info{
      font-size: 31px;
      padding: 5px;
      height: 118px;
    }
 